.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.4s;
}

.modal_content{
    padding: 24px 35px;
    padding: 32px;
    display: flex;
    border-radius: var(--radius-big, 12px);
    background: var(--green, #393);
    border-radius: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}


.modal.active{
    pointer-events: all;
    opacity: 1;
}

.modal_content.active{
    transform: scale(1);
}

.text_order{
    margin-right: 20px;
}


.logo_order{
    position: absolute;
    right: 100px;
    width: 44px;
    height: 44px;
}